.answer {
  display: none;
}

.question {
  padding-top: 10px;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

body {
  text-align: center;
}
